// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$good: #931a25;
$medium: rgba(106, 9, 125, 0.9);
$basic: #009387;
$background: white;
$pink-light: rgb(192, 96, 161);
$purple: rgb(106, 9, 125);
$blue-dark: rgb(0, 0, 92);
$gold: #D1B000;
$light-black: #0E1E25;
$crazy-green: #61b15a;
