<div class="footer-content container-profile">
    <p>Copyleft © 2021</p>
    <p> <%= t('.footer-mention-1') %> — <a href="https://github.com/will3685/will_cv" aria-label="access my contact" class="without-decoration" target="_blank">open sourced</a>.</p>
    <p> <%= t('.footer-mention-3') %> — <a href="https://www.shs.poli.ufrj.br/" aria-label="access my contact" class="without-decoration" target="_blank"> Projeto SHS</a>.</p>
    <p> <%= t('.footer-mention-4') %> — <a href="https://pcon-desastres.poli.ufrj.br/" aria-label="access pcon" class="without-decoration" target="_blank"> PCON</a>.</p>
    <p> <%= t('.footer-mention-2') %> </p>
  </div>

  <div class="footer-contact row justify-content-center" >
    <div >
      <a href="https://www.linkedin.com/in/will-theard-788683b7/" aria-label="access my contact" target="_blank" class="icon-contact-1 mx-3">
        <i class="fab fa-linkedin"></i>
      </a>
    </div>
    <div>
      <a href="https://github.com/will3685" aria-label="access my contact" target="_blank" class="icon-contact-1 mx-3">
        <i class="fab fa-github-square"></i>
      </a>
    </div>
    <div>
      <a href="mailto:lavardwilltheard@poli.ufrj.br" aria-label="access my contact" target="_blank" class="icon-contact-1 mx-3">
        <i class="fas fa-at"></i>
      </a>
    </div>
  </div>