<div class="navbar-contact">
  <div data-aos="fade-right">
    <div>
      <a href="https://www.linkedin.com/in/will-theard-788683b7/" aria-label="access my contact" target="_blank" class="icon-contact">
        <i class="fab fa-linkedin"></i>
      </a>
    </div>
    <div>
      <a href="https://github.com/will3685" aria-label="access my contact" target="_blank" class="icon-contact">
        <i class="fab fa-github-square"></i>
      </a>
    </div>
    <div>
      <a href="mailto:lavardwilltheard@poli.ufrj.br" aria-label="access my contact" target="_blank" class="icon-contact">
        <i class="fas fa-at"></i>
      </a>
    </div>
  </div>
</div>