.profile-picture {
  width: 100%;
  max-width: 256px;
  height: auto;
  border-radius: 100px;
}

.about-text {
  margin-top: 16px;
}

.about-content h2 {
  position :relative;
  text-align: center;
  color: #fff;
  font-weight: bold;
  z-index: 3;
}

.about-content p {
  text-align: justify;
  position: relative;
  color: #fff;
  opacity: 0.7;
}

.about-content h5 {
  position: relative;
  color: #fff;
  opacity: 0.7;
}

.without-decoration {
  text-decoration: none !important;
  color: $gold;
  &:hover {
    color: $crazy-green;
    opacity: 0.7;
  } 
}
