.icon-contact {
  color: #D1B000;
  font-size: 24px;
  &:hover {
    color: #61b15a;
  }
}

.icon-contact-1 {
  color: #D1B000;
  font-size: 32px;
  &:hover {
    color: #61b15a;
  }
}

.icon-flag {
  img {
    width: 6vh;
    height: 4vh;
    border-radius: 4px;
    padding: 2px;
  }
}


