.skills-title {
  text-align: center;
  font-weight: bold;
}

.skill-indicate {
  opacity: 1;
  height: 3vw;
  width: 3vw;
  max-height: 3vw;
  max-width: 3vw;
  border: 1px gray solid;
  border-radius: 4px;
}

.color-good {
  background-color: $gold;
}

.color-medium {
  background-color: $crazy-green;
}

.color-basic {
  background-color: $blue-dark;
}

.icon-skill {
  font-size: 40px;
}
